@import "article.css";
@import "utilities.css";
@import "nav.css";

:root {
  --color-grey-dark: #46494c;
  --color-grey-light: #dcdcdd;
  --color-blue: #1985a1;
  --color-black: #333;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-grey-dark);
  background: #f5f7f8;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/**************************/
/* Showcase Article */
/**************************/

.showcase__container {
  padding: 4.8rem 0 9.6rem 0;
}

.showcase__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showcase__text-box .showcase__description {
  font-size: 1.8rem;
}

.showcase__text-box a {
  font-size: 1.5rem;
  color: var(--color-blue);
}

/**************************/
/* Home Artilces */
/**************************/

#home-articles h2 {
  padding-bottom: 2rem;
}

.card {
  background-color: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 3rem; */
}

.card-content {
  padding: 1rem;
}

.card-content p {
  padding-bottom: 2.5rem;
  font-size: 1.2rem;
}

.card-btn {
  border: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 0.9rem;
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
}

.footer-btn {
  border: none;
  padding: 0.6rem;

  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
}

/**************************/
/* Footer */
/**************************/

#main-footer {
  padding: 2rem 0;
  background: var(--color-white);
  margin-top: 3rem;
  font-size: 1.4rem;
}

.social-icons-footer a {
  font-size: 1.2rem;
  padding-right: 0.7rem;
  color: var(--color-grey-dark);
  transition: all 0.3s;
}

.social-icons-footer a:hover {
  color: var(--color-blue);
}

#main-footer .footer-container input[type="email"] {
  width: 75%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 75%;
  border-radius: none;
}
